body {
    line-height: 1.5;
}

#content {
    background-color: hsl(0, 0%, 97%);
    font-family: STIXGeneral, Palation, Georgia, "Times New Roman", serif;
    font-size: 120%;
}

#content > div {
    max-width: 700px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    margin: 24px 0 12px;
}


h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1rem; }

h1::before,
h2::before,
h3::before,
h4::before,
h5::before {
    content: "§";
    position: relative;
    display: list-item;
    left: -1em;
    top: 1.4em;
    /* Safari bug: must have width or the header content isn't
       selectable. */
    width: 0;
    list-style: none;
    color: hsl(0, 0%, 90%);
}

h1:hover::before,
h2:hover::before,
h3:hover::before,
h4:hover::before,
h5:hover::before {
    color: hsl(0, 0%, 50%);
}

#content h1,
#content p,
#content .org-src-container {
    margin-bottom: .75rem;
}

.org-src-container {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    padding: 3rem 0;
    background-color: hsl(0, 0%, 95%);
    border-top: 1px solid hsl(0, 0%, 90.6%);
    border-bottom: 1px solid hsl(0, 0%, 90.6%);
}

code, pre {
    font-family: "DejaVu Sans Mono", Menlo, Monaco, "Adale Mono", monospace;
    font-size: 85%;
}

code {
    display: inline-block;
    background-color: hsl(0, 0%, 90%);
    padding: 0 4pt;
}

pre.src {
    max-width: 700px;
    margin: 0 auto;
}

/* author information, including email */
p.author {
}

/* publishing date */
p.date {
}

/* creator info, about org mode version */
p.creator {
}

/* document title */
.title {
}

/* document subtitle */
.subtitle {
}

/* TODO keywords, all not-done states */
.todo {
}

/* the DONE keywords, all states that count as done */
.done {
}

/* each TODO keyword also uses a class named after itself */
.WAITING {
}

/* timestamp */
.timestamp {
}

/* keyword associated with a timestamp, like SCHEDULED */
.timestamp-kwd {
}

/* span around keyword plus timestamp */
.timestamp-wrapper {
}

/* tag in a headline */
.tag {
}

/* each tag uses itself as a class, "@" replaced by "_" */
._HOME {
}

/* target for links */
.target {
}

/* the line number in a code example */
.linenr {
}

/* for highlighting referenced code lines */
.code-highlighted {
}

/* div for outline level N (headline plus text)) */
div.outline-N {
}

/* extra div for text at outline level N */
div.outline-text-N {
}

/* section number in headlines, different for each level */
.section-number-N {
}

/* label like "Figure 1:" */
.figure-number {
}

/* label like "Table 1:" */
.table-number {
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #E1E1E1;
}

th.left, td.left {
    text-align: left;
}

th.right, td.right {
    text-align: right;
}

/* label like "Listing 1:" */
.listing-number {
}

/* how to format an inlined image */
div.figure {
}

/* formatted source code */
pre.src {
}

/* normal example */
pre.example {
}

/* verse paragraph */
p.verse {
}

/* footnote section headline */
div.footnotes {
}

/* footnote definition paragraph, containing a footnote */
p.footnote {
}

/* a footnote reference number (always a <sup>) */
.footref {
}

/* footnote number in footnote definition (always <sup>) */
.footnum {
}

#postamble {
    font-size: .85em;
    border-top: 1px solid #eee;
    margin-top: 3.5em;
    padding: 2em;
    background: #fbfbfb;
}
